{% extends "base_s_form.html" %}
{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='Logo_Title_black_200.png') }}" alt="Logo_Title_black_200">
      <h2>Erstellen neuer Freischaltcodes</h2>
      <p class="lead">Es können hier neue Freischaltcodes erzeugt werden. Diese sind sofort aktiv und werden der aktuell ausführenden Persönlichen Nummer zugeordnet.</p>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Historie</span>
        </h4>
        <div class="table-responsive">
          <table class="table text-center list-group">
            <thead>
              <tr class="list-group-item">
                <th>Anzahl</th>
                <th>Datum</th>
                <th>Ebene</th>
              </tr>
            </thead>
            <tbody>{% for row in episodes %}
              <tr class="list-group-item">
                <th scope="row" class="text-start">{{ row['pnr'] }}</th>
                <td>{{ row['freecode'] }}</td>
                <td>{{ row['seclevel'] }}</td>
              </tr>{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Zum Erstellen Anzahl und Berechtigung wählen</h4>
        <form class="needs-validation" novalidate autocomplete="on" method="post">
          <div class="row g-3">
            <div class="col-6">
              <label for="quantity" class="form-label">Anzahl neuer Codes</label>
              <div class="input-group has-validation">
                <span class="input-group-text">Nr.</span>
                <input type="text" class="form-control{% if conf.haserror("quantity") %} is-invalid{% endif %}" id="quantity" name="quantity" required">
              <div class="invalid-feedback">{% if conf.haserror("quantity") %}{{ conf.error['quantity'] }}{% endif %}</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="level" class="form-label">Berechtigungsebene</label>
              <select class="form-select{% if conf.haserror("level") %} is-invalid{% endif %}" id="level" name="level" required>
                <option value="-1">Bitte wählen...</option>
                <option value="0">Ebene 0 (Hörer): Nur Hören</option>
                {% if conf.get("seclevel") >= 2  %}<option value="1">Ebene 1 (Redakteur): darf Freischaltcodes für Ebene 0 (Hörer) erzeugen</option>{% endif %}
                {% if conf.get("seclevel") >= 3  %}<option value="2">Ebene 2 (Leitung): darf Freischaltcodes für Ebene 1 (Redakteur) erzeugen</option>
                <option value="3">Ebene 3 (Admin): darf Freischaltcodes für alle Ebenen erzeugen</option>{% endif %}
              </select>
              <div class="invalid-feedback">{% if conf.haserror("level") %}{{ conf.error['level'] }}{% endif %}</div>
            </div>
          </div>
          <button class="w-100 btn btn-primary btn-lg mt-4 mb-2" type="submit">Durchführen</button>
          {% if conf.haserror("result_succ") %}<div class="alert alert-success" role="alert">{{ conf.error['result_succ'] }}</div>{% endif %}
          {% if conf.haserror("result_err") %}<div class="alert alert-danger" role="alert">{{ conf.error['result_err'] }}</div>{% endif %}
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
