{% for row in members %}
      <tr>
        <td>{{ row['KundenNr'] }}</td>
        <td>{{ row['Vorname'] }} {{ row['Nachname'] }}</td>
        <td>{{ row['datum'] }}</td>
        <td>{{ row['Telefon'] }}</td>
        <td>{{ row['EMail'] }}</td>
        <td><figure class="text-body-secondary frm-main-overview-edit" data-id="{{ row['id'] }}" title="Eintrag ändern"><svg class="bi" width="2em" height="1em" title="Eintrag ändern"><use xlink:href="#bi-pencil-fill" title="Eintrag ändern"/></svg></figure></td>
      </tr>{% endfor %}