<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bestätigung Interessent der Hörzeitung Norderstedt">
  <title>Hörzeitung - Norderstedt</title>
  <style> 
    table, table th, table td {border-style: double;} 
    table td {padding: 1em;} 
  </style>
</head>
<body>
  <main>
    <section>
      <h4>Ein Interessent für die Hörzeitung hat folgende Daten angegeben:</h4>
      <p>Bitte die Legitimation in der Anlage prüfen. Bei Gültigkeit als Mitglied erfassen.</p>
    </section>
  </main>
</body>
</html>