{% extends "base_s_form.html" %}
{% block content %}

<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="{{ url_for('bx_s_start.s_album') }}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="{{ url_for('static', filename='Logo_Title_black_200.png') }}" alt="Logo_Title_black_200">
      </a>
      <nav class="navbar navbar-expand-lg nav-underline d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <div class="container-fluid">
          {#<a class="navbar-brand" href="#">Navbar</a>#}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="me-4 py-2 link-body-emphasis text-decoration-none nav-link" title="Zur Album-Übersicht" href="{{ url_for('bx_s_start.s_album') }}">Album-Übersicht</a>
              </li>
              <li class="nav-item">
                <a class="me-4 py-2 link-body-emphasis text-decoration-none nav-link" title="Zum Impressum" href="{{ url_for('bx_s_start.s_impress') }}">Impressum</a>
              </li>
              <li class="nav-item">
                <a class="py-2 link-body-emphasis text-decoration-none nav-link" title="Abmelden" href="{{ url_for('bx_s_start.s_logout') }}"><svg class="bi me-2 opacity-100" width="1.6em" height="1.6em"><use href="#box-arrow-right"></use></svg></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Einzel Beiträge</h1>
      <p class="fs-5 text-body-secondary">Alle einzelnen Beiträge zum Album {{ conf.map['subdir'] }}.</p>
    </div>
  </header>
  
  <main>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 53%;">Titel</th>
            <th style="width: 5%;">Länge</th>
            <th style="width: 37%;">Audio-Player</th>
          </tr>
        </thead>
        <tbody>{% for row in conf.get('episodes') %}
          <tr>
            <th scope="row" class="text-start">{{ row['title'] }} <a class="list-table-rows" title="Anzeigen Beschreibung für {{ row['title'] }}" href="#"><svg class="bi me-2 opacity-100" width="1em" height="1em"><use href="#question-circle"></use></svg></a></th>
            <td>{{ row['duration'] }}</td>
            <td><audio preload="none" loading="lazy" controls src="{{ url_for('bx_start.media', file=row['audio']) }}"></audio></td>
          </tr>
          <tr class="d-none"><td colspan="4" aria-details="{{ row['title'] }}">{{ row['description'] }}</td>
          </tr>{% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</div>

{% endblock %}