{% extends "base_start.html" %}
{% block main %}
			<div class="fixed-bg error-bg overlay-light"></div>
			<div class="container">
				<div class="error-page text-center">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="error-text">
								<i class="flaticon-musical-notes"></i>
								<h3>Hoppla!</h3>
								<p>Die angeforderte Seite konnte nicht gefunden werden.</p>
							</div>
						</div>
					</div>
				</div><!--error-page end-->
			</div>
{% endblock %}
