{% extends "base_form.html" %}
{% block main %}
			<div class="container">
				<div class="pl-section text-center">
					<div class="section-title text-center">
						<span>Wir haben Ihre Anfrage erhalten</span>
						<h3>Vielen Dank für Ihre Anfrage</h3>
						<div class="mx-auto w-75">
							<p class="mt-3">Hallo {{ conf.map["regist_map"]["name"] }}, für die weiteren Schritte werden wir uns mit Ihnen in Verbindung setzen.</p>
						</div>
					</div><!--section-title end-->
				</div><!--pl-section end-->
			</div>
{% endblock %}
