{% extends "base_form.html" %}
{% block main %}
			<div class="fixed-bg error-bg overlay-light"></div>
			<div class="container">
				<div class="error-page text-center">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="error-text">
								<i class="flaticon-musical-notes"></i>
								<h3>Ausführung nicht möglich!</h3>
								<p>Auf Ihrem Rechnersystem ist es nicht möglich Cookies einzusetzen. Bitte richten Sie in den Einstellungen Ihres Browsers für die Webseite ein, dass das Hinzufügen von Cookies möglich ist. Andernfalls kann diese Webanwendung nicht korrekt ausgeführt werden.</p>
							</div>
						</div>
					</div>
				</div><!--error-page end-->
			</div>
{% endblock %}
